:root {
  /* IRIS */
  --PrimaryBrand: #4d5ae5;

  /* Navy blue */
  --Dark: #2e2f42;

  /* GREEN */
  --Success: #31d0aa;

  /* SLATE */
  --Text: #434455;

  /* LIGHT SLATE */
  --SubtleText: #8e8f99;

  /* Сornflower */
  --Accent: #e7e9fc;

  /* CLOUD */
  --Light: #f4f4fd;

  --White: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--Dark);
}

h1 {
  font-size: 56px;
  line-height: 1.071;
}

h2 {
  font-size: 36px;
  line-height: 1.111;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

/* HEADER */

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--Dark);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.333;
  font-weight: 800;
}

.logo-web {
  color: var(--PrimaryBrand);
}

.nav-menu {
  list-style: none;
}

.nav-menu a {
  color: var(--Dark);
  line-height: 1.5;
  text-decoration: none;
}

.nav-menu a:hover {
  color: var(--Text);
}

.nav-menu a:active {
  color: var(--PrimaryBrand);
}

.contacts {
  list-style: none;
}

.contacts a {
  text-decoration: none;
}

.contacts a:hover {
  color: var(--PrimaryBrand);
}

.text {
  color: var(--Text);
  line-height: 1.5;
  font-weight: 400;
}

/* MAIN */
.service {
  background-color: var(--Dark);
  color: var(--White);
}

.service-button {
  color: var(--White);
  background-color: var(--PrimaryBrand);
  font-family: inherit;
  line-height: 1.187;
}

.service-button:hover {
  background-color: var(--PrimaryBrand);
}

.service-button:active {
  background-color: #404bbf;
}

/* Advanteges */

.advantages-cards {
  list-style: none;
}


.ourworks-cards {
  list-style: none;
}

.ourteam-cards {
  list-style: none;
}

.footer {
  background-color: var(--Dark);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.333;
  font-weight: 800;
}

.logo-studio {
  color: var(--White);
}

.footer-description {
  color: var(--Accent);
  font-weight: 400;
  line-height: 1.5;
}

/* PORTFOLIO CSS */

.filter-title {
  display: none;
}

.filter-list {
  list-style: none;
}

.filter-button {
  background-color: var(--Accent);
  color: var(--PrimaryBrand);
  cursor: pointer;
  font-family: inherit;
  line-height: 1.5;
}

.filter-button:hover {
  background-color: var(--PrimaryBrand);
  color: var(--White);
}


